@model LojaJkMisterG.Areas.Admin.AdmViewModels.AdminRegistroFuncionarioViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminRegistroFuncionarioViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailRegister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordConfirm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordConfirm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGerente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGerente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
