@model ReflectionIT.Mvc.Paging.PagingList<LojaJkMisterG.Areas.Admin.AdmViewModels.AdminRegistroUsuarioEditViewModel>


@{

    ViewData["Title"] = "Funcionários";

}

<style>
    h3 {
        margin-top: 30px;
    }

    th, tr, a {
        color: white;
    }

</style>

<h3>Funcionários</h3>



<form method="get" class="form-inline">

    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />

    <br />

    <button type="submit" class="btn btn-info">

        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar

    </button>

</form>

<br />

Total de Funcionários: @Model.TotalRecordCount

@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })


<p>

    <a asp-action="Create">Adicionar funcionário</a>

</p>


<table class="table">

    <thead>

        <tr>

            <th>

                @Html.DisplayNameFor(model => model.EmailRegister)

            </th>

           

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            <tr>

                <td>
                    <br/>
                    @Html.DisplayFor(modelItem => item.EmailRegister)

                </td>


                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>

                </td>

            </tr>

        }

    </tbody>

</table>


